<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <div
            class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="avatar-lg me-4">
                    <img src="@@path/assets/img/team/profile-picture-3.jpg"
                        class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                </div>
                <div class="d-block">
                    <h2 class="h5 mb-3">Hi, Jane</h2>
                    <a href="@@path/pages/examples/sign-in.html"
                        class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                            </path>
                        </svg>
                        Sign Out
                    </a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item">
                <a href="@@path/index.html" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon">
                        <i class="bi bi-grid"></i>
                    </span>
                    <span class="mt-1 ms-1 sidebar-text">Home</span>
                </a>
            </li>
            <li class="nav-item @@if (context.page === 'overview') { active }">
                <a href="../" class="nav-link">
                    <span class="sidebar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                        </svg>
                    </span>
                    <span class="sidebar-text">Parent</span>
                </a>
            </li>

            <li class="nav-item @@if (context.page === 'index') { active }">
                <a href="@@path/pages/FrConf/StRouWTName/index.html" class="nav-link">
                    <span class="sidebar-icon">
                        <i class="bi bi-speedometer2 fs-5"></i>
                    </span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>
           
            <li class="nav-item">
                <span
                    class="nav-link @@if (context.page_group !== 'createNew') { collapsed } d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#submenu-Orders">
                    <span>
                        <span class="sidebar-icon">
                            <i class="bi bi-person-plus-fill"></i>
                        </span>
                        <span class="sidebar-text">Create</span>
                    </span>
                    <span class="link-arrow">
                        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </span>

                <div class="multi-level collapse @@if (context.page_group === 'Create') { show }" role="list"
                    id="submenu-Orders" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'createNew') { active }">
                            <a class="nav-link d-flex align-items-center" href="createNew.html">
                                <span class="sidebar-text-contracted">C</span>
                                <span class="sidebar-text">Create New</span>
                            </a>
                        </li>
                        <li class="nav-item @@if (context.page === 'createNewWithChecks') { active }">
                            <a class="nav-link d-flex align-items-center" href="createNewWithChecks.html">
                                <span class="sidebar-text-contracted">W</span>
                                <span class="sidebar-text">WithChecks</span>
                            </a>
                        </li>
                        <li class="nav-item @@if (context.page === 'createSimple') { active }">
                            <a class="nav-link d-flex align-items-center" href="createSimple.html">
                                <span class="sidebar-text-contracted">W</span>
                                <span class="sidebar-text">Simple</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <span
                    class="nav-link @@if (context.page_group !== 'ColumnsFromFetch') { collapsed } d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#@@page_groupMenulink">
                    <span>
                        <span class="sidebar-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-filter-square" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path
                                    d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </span>
                        <span class="sidebar-text">ColumnsFromFetch</span>
                    </span>
                    <span class="link-arrow">
                        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </span>
                <div class="multi-level collapse @@if (context.page_group === 'ColumnsFromFetch') { show }" role="list"
                    id="@@page_groupMenulink" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'colsFetchShowAll') { active }">
                            <a class="nav-link" href="colsFetchShowAll.html">
                                <span class="sidebar-text">ShowAll</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <span
                    class="nav-link @@if (context.page_group !== 'Image') { collapsed } d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#@@page_groupMenulinked">
                    <span>
                        <span class="sidebar-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-image-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
                            </svg>
                        </span>
                        <span class="sidebar-text">Image</span>
                    </span>
                    <span class="link-arrow">
                        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </span>
                <div class="multi-level collapse @@if (context.page_group === 'Image') { show }" role="list"
                    id="@@page_groupMenulinked" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'ImageUpload') { active }">
                            <a class="nav-link" href="ImageUpload.html">
                                <span class="sidebar-text">ImageUpload</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="multi-level collapse @@if (context.page_group === 'Image') { show }" role="list"
                    id="@@page_groupMenulinked" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'ImageFromCamera') { active }">
                            <a class="nav-link" href="ImageFromCameraV1.html">
                                <span class="sidebar-text">ImageFromCamera</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <span
                    class="nav-link @@if (context.page_group !== 'FixedColumns') { collapsed } d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#@@page_groupMenu">
                    <span>
                        <span class="sidebar-icon">
                            <i class="bi bi-check-circle-fill"></i>
                        </span>
                        <span class="sidebar-text">FixedColumns</span>
                    </span>
                    <span class="link-arrow">
                        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </span>
                <div class="multi-level collapse @@if (context.page_group === 'FixedColumns') { show }" role="list"
                    id="@@page_groupMenu" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'FixedColShowAll') { active }">
                            <a class="nav-link" href="FixedColShowAll.html">
                                <span class="sidebar-text">AsIs</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>